@mixin mq($from, $to: false) {
    @if $to {
        @media (min-width: $from + 0px) and (max-width: $to + 0px) {
            @content;
        }
    } @else {
        @media (max-width: $from + 0px) {
            @content;
        }
    }
}

@mixin hover {
    @media(hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
}

@mixin box($value, $radius: false) {
    width: $value;
    height: $value;

    @if ($radius != false) {
        border-radius: $radius;
    }
}
