$white-bg-color: #ffffff;
$gray-bg-color: #F1F1F1;
$light-bg-color: #ECF4FF;
$main-bg-color: #346DF1;
$overlay-bg-color: #0C1C6030;

$black-color: #000000;
$almost-black-color: #333333;
$dark-gray-color: #666666;
$gray-color: #CCCCCC;
$light-gray-color: #F1F1F1;
$white-color: #F1F1F1;
$main-color: #346DF1;
$light-color: #ECF4FF;
$secondary-color: #F8B200;
$dark-main-color: #0c1c60;


$desktop: 1920;
$laptop: 1280;
$tablet: 768;
$mobile: 489;


$side-bar-width: 320;
